body {
    padding-top: 50px;
    font-family: 'Abel', sans-serif;
}

a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sail', cursive;
}

.nav a {
    font-family: 'Abel', sans-serif;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

.heading-banner {
    height: 100vh;
    min-height: 600px;
    background-image: url('../imgs/underwater.jpg');
    
}

.heading {
    width: 100%;
    font-size: 50px;
    color: whitesmoke;
}

.heading-title {
    background-color: rgba(10, 10, 10, .6);
    margin: 30% 0 0 0;
    padding: 3%;
}

.heading-title:hover {
    background-color: rgba(10, 10, 10, .8);
    color: aquamarine;
}

.heading-link {
    background-color: rgba(10, 10, 10, .6);
    float: left;
    margin: 5px;
    padding: 1%;
    font-family: 'Sail', cursive;
}

.heading-link:hover {
    background-color: rgba(10, 10, 10, 0.8);
}

#pompadour {
    width: 100%;
    border-radius: 50%;
    max-height: 100%
}

#introductionWho {
    font-family: 'Sail', cursive;
    font-size: 48px;
}

#introductionProfessional {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

#introductionJack {
    font-size: 48px;
    font-family: 'Sail', cursive;
}

#actorHeadingLink:hover {
    color: #523957;
}

#programmerHeadingLink:hover {
    color: #F0C04F;
    background-color: rgba(10, 10, 10, .6);
}

.kraken-banner {
    height: 40%;
    background-image: url('../imgs/Kraken.jpg');
    background-size: contain;
}

.kraken-text {
    padding: 10vh;
    width: 100%;
    color: whitesmoke;
    font-family: 'Sail', cursive;
    font-size: 20px;
}

#aboutContainer {
    padding: 30px
}

#smallcatImg {
    border-radius: 50%;
    margin: 10px;
}

#aboutHeader {
    margin: 30px;
    font-size: 48px;
}

#aboutParagraph {
    font-size: 20px;
    padding: 10px;
}

.headingTable {
    height: 100vh;
    display: table;
}

.headingTitle {
    display: table;
}

.nameHeading {
    display: table-cell;
    vertical-align: middle;
    float: none;
    font-size: 20px;
}

.introduction {
    height: 60%;
    padding: 30px;
}

.careerPortal {
    text-align: center;
}

.heading-banner {
    height: 100vh;
    min-height: 600px;
    background-image: url('../imgs/underwater.jpg');
    
}


.actorHeader h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    display: inline;
    float: left;
}

.actorHeader.actorRedirects button {
    display: inline-block;
    vertical-align: bottom;
    float: right;
}

#actorHeadshot {
    height: 80vh;
    float: left;
}
.carousel.slide {
    text-align: center;
}

.carousel.slide img {
    height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.programmer-banner {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    background-image: url('../imgs/PrattHouse.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}

.programmer-banner div {
    color: whitesmoke;
}

#programmerBackground {
    background-color: #F0C04F;
}

.infoSection {
    padding: 30px 0;
}

.glyphicon {
    font-size: 48px;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}